.form {
  width: 400px;
}

.input {
  font-size: 20px;
  display: block;
  width: 300px;
  height: 50px;
  padding: 15px;
  color: #fff;
  background-color: rgb(203, 142, 238);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-bottom: 15px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus {
  outline: none;
  border-color: rgb(104, 32, 109);
}

input::placeholder {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
}

.button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  width: 150px;
  height: 50px;
  color: #fff;
  background: rgb(235, 117, 219);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px;
  border: none;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  background-color: rgb(197, 53, 190);
}

.label {
  font-size: 20px;
  font-weight: 500;
  color: rgb(85, 27, 139);
}
